body {
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255);
  font-family: verdana;
  
}

.main {
  width: 100vw;
  height: 10vh;
  max-width:1200px;
  margin:0 auto;
  
}

.header {
  position:relative;
  padding: 0 0 0 1%;
  margin: 1% 3% 1% 3%;
  /* position: absolute; */
  font-size: calc(.9em + 1vw);
  
  justify-content: space-around;
  background-image: linear-gradient(rgba(30, 190, 190, .5), rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.95));
  border-radius:50%;
}

/* .header-dummy-img{
  margin-top:1%;
  flex:1;
  visibility: hidden;
} */

.header-img{
  /* margin-top:1%; */
  position:absolute;
  top:0;
  left:0;
  width:20%;
  z-index:1;
}

div.header-img img {
  max-width: 100%;
  height: auto;
  margin: 2% 2% 2% 0;
  border-radius: 50%;
  border: .16em solid black;
  box-shadow: inset 0px 0px 40px 40px #DBA632;
}

.header-title-and-nav{
  margin-left:20%;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  
  
}

.title{
  font-size: calc(.75em + 1vw);
  font-style: italic;
  font-family: 'Roboto';
  margin:0 0 3% 6%;
  color:rgb(63, 8, 8);
  text-align:right;
  font-family:Dosis;
}

.fab.fa-linkedin {
  font-size: 100%;
}
.far.fa-envelope {
  font-size: 100%;
}
a{
  color:black;
}
nav{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  width:80%;
}

nav div{
  margin-top: 5px;
  margin-left: 6%;
  display:flex;
  flex-direction:column;
  font-size: calc(.5em + 2vw);
}

a {
  text-decoration: none;
}

.fa, .fa-chevron-right{
  font-size:1em;

}


.menu-item1, .menu-item2, .menu-item3 {
  text-decoration: none;
  transform: rotate(-20deg);
  padding-left:20%;
  font-family: arial;
  
}

.point1,
.point2,
.point3,
.point4,
.point5 {
  background: rgb(0, 0, 0);
  height: 5px;
  width: 5px;
}

.menu-item1,
.menu-item2,
.menu-item3,
.menu-item4,
.menu-item5 {
  text-align: center;
  font-size: 0.7em;
}

.point1 {
  left: 150%;
}
.menu-item1 {
  left: 150%;
}
.point2 {
  left: 200%;
}
.menu-item2 {
  left: 200%;
}
.point3 {
  left: 250%;
}
.menu-item3 {
  left: 250%;
}
.point4 {
  left: 300%;
}
.menu-item4 {
  left: 300%;
}
.point5 {
  left: 350%;
}
.menu-item5 {   
  left: 350%;
}


/* INNER //////////////////////*/
.inner {
  width: 95%;
  height: 100%;
  display: inline-block;
  font-size: calc(.5em + 1vw);
  color: #262626;
  position: fixed;
  max-width:1200px;
}
.inner:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 0 30px 0;
  animation: animate 2s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #262626;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #e01414;
    border-right-color: #d41010;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #262626;
    border-right-color: #262626;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.filler{
  height:5%;
  width:100%;
  background:transparent;
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.8);
}

.inner .scrollable-page {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  height: 85%;
  margin: 2% 1%;
}

.inner .scrollable-page::-webkit-scrollbar {
  display: none;
}

/*//ABOUT//////////////////////*/
.about{
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgb(255, 250, 242),rgba(255, 191, 118, 0.932));
  margin: 10 5% 0;
  padding: 1%;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.about-paragraph{
  padding: 0 4% 0 4%;
}

.about p {
  color: rgb(26, 7, 7);
  font-size: calc(0.75em + 1vw);
  text-align: justify;
  letter-spacing: 2px;
  line-height: 140%; 
  font-family: Open Sans, sans-serif;
  text-indent: 8%;;
  font-weight: lighter;
  font-style: italic;
}
.para-img{
  height:4em;
  float:right;
  padding:3%;
  display:none;
}

/*//PROJECTS///////////////////// */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 3% 5%;
  border-radius:5px;
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgb(253, 228, 191),rgba(255, 191, 118, 0.932));
  font-family:arial;
  font-size:10px;
}

/* rgba(255, 174, 81, 0.932) */
.proj-wrapper{
  position:relative;
  height: 100%;
  margin:1% 1%;
  display:flex;
 
  /* width:90%; */
  /* justify-content: space-between; */
}
.proj-wrap1{
  transform: rotate(-3deg);
  margin-left:5%;
  margin-right:15%; 
}
.proj-wrap2{
  transform: rotate(2deg);
  margin-left:10%;
  margin-right:5%;
  
}
.proj-wrap3{
  transform: rotate(-3deg);
  margin-left:5%;
  margin-right:15%; 
}
.proj-wrap4{
  transform: rotate(2deg);
  margin-left:10%;
  margin-right:5%;
}


.project {
  position:relative;
  height: 100%;
  /* margin:0 auto; */
  /* display:flex; */
  width:66%;
  
}

.project a {
  max-width: 90%;
  height: auto;
}
.modal p{
  display:none;
}
.project img {
  max-width: 100%;
  height: auto;
  /* margin: 5%; */
  position:relative;
}


.project .img-wrapper{
  height:100%;
  position: relative;
  margin:5%;
  box-shadow:2px 2px 10px rgb(105, 6, 6); 
}


.project:before{
  content: '';
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:0;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 0 12px 0;
}

.project:hover:before{
  animation: animate-project 1s linear forwards;
}




@keyframes animate-project {
  0% {
    width: 0;
    height: 0;
    border-top-color: #262626;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #e01414;
    border-right-color: #d41010;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #262626;
    border-right-color: #262626;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
.project1{
  font-size:12px;
}
/* TECHS //////////////////*/

.techs{
  /* visibility:hidden; */
  list-style-type: none;
  padding:2% 0;
  margin-left:3%;
  font-family: arial;
  font-size: calc(.4em + 1vw);
  text-shadow:.15em .15em .1em rgb(221, 207, 178)

}



/* //MODAL//// */

.modal{
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:100%;
  /* margin:5%; */
  padding:0 5%;
  box-sizing:border-box;
  display:block;
  color:white;
  background-image:linear-gradient(to right, rgba(30, 190, 190, 0.99),rgba(221, 248, 255, 0.9) );
  opacity:0;
  animation: project-opacity 1.5s linear forwards;
  
  
}

.modal:hover {
  animation: project-opacity2 1.5s linear forwards;
}


.modal p{
  color:blue;
}
/* rgb(142, 232, 255, .9) */
.modal .project-title h2{
   text-shadow:.01em 0 black;
   font-size:1em;
   color:red;
   
}
/* .project-3-modal .project-title h2{
 
  font-size:14px;
} */

.tech{
  /* width:80%; */
  /* height:20%;  */
  margin:5%;
  padding:5%; 
  border-radius: 5px;
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgb(253, 228, 191),rgba(255, 191, 118, 0.932)); 
}
.tech img{
  width:12%;
}

@keyframes project-opacity {
  0% {
    left: -5%;
   opacity: 0.1;
  }
  50% {
    opacity:0.5;
  }
  100% {
    opacity:0.99;
  }
}


@keyframes project-opacity2 {
  0% {
    left: -5%;
   opacity: 0.1;
  }
  50% {
    opacity:0.5;
  }
  100% {
    opacity:0.99;
  }
}
/* MEDIA QUERIES/////////////////// */

@media only screen and (min-width: 600px) {
  .header-img{
    width:15%;
  }
  .project-title h2{
    font-size:35px;
  }
  .techs{
    font-size:calc(.75em + 1vw);
  }
  .modal .project-title h2{
    font-size:2em;
  }
}

@media only screen and (min-width: 900px) {
  .header-img{
    width:12%;
  }
  .menu-item1, .menu-item2, .menu-item3{
    font-size:16px;
  }
  .project-title h2{
    font-size:45px;
  }
  .modal p{
    display:block;
  }
  .techs{
    font-size:calc(.75em + 1vw);
  }
  .modal .project-title h2{
    font-size:2.5em;
  }


}
@media only screen and (min-width: 1200px) {
  .about{
    margin: 1% 5% 0;
    font-size:10px;
  }
  .projects{
    margin:0 5% 5%;
  }
  .techs{
    font-size:24px;
  }
  .modal .project-title h2{
    font-size:2em;
  }

}
