body{
    max-width:1200px;
    /* margin:0 auto; */
    background:seashell;
}



.current{
    margin:1%;
    padding:2%;
    background: lightsteelblue;
    border-radius: 5px;

}

.current form{
    margin:0 0 3% 0;
    background: rgb(255, 255, 255);
    padding:1% 0;
    border-radius: 5px;
}
form > * {
    padding:.5%;
    margin:.5%;
    border-radius:20%;
    
}
.makeNew{
    margin:0 3% 2% 0;
}

.input-wrapper{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    
}
.input-wrapper input{
    border:2px solid lightgreen;
    padding:1%;
}
.buttons > * {
    margin:1%;
}

.buttons img{
    width:10%;
}

.id{
    width:5%;
    background:green;
}



/* .projects, .technologies{
    display:none
} */