.about {
  width: 70%;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family: overpass;
  padding: 0;
  overflow-y: scroll;
  height: 100vh;
  margin-left: 30%;

  .para-wrap {
    // padding:5% 0 0 3%;
    display: flex;
    font-size: 0.7em;

    .para {
      width: 70%;
      background-image: linear-gradient(transparent 10%, rgb(11, 105, 11) 20%, rgb(11, 105, 11) 80%, transparent 90%);
      -webkit-background-clip: text;
      background-attachment: fixed;
      // overflow-y: scroll;
      padding-top: 9%;
      line-height: 1.8em;
      letter-spacing: 0.1em;

      // color:rgb(16, 77, 16);
    }
    .para > * {
      color: transparent;
    }
    .leaf-pic,
    .leaf-pic1,
    .leaf-pic2 {
      width: 30%;
      margin-top:10%;
    }
    .leaf-pic {
      transform: scaleY(-1) rotate(25deg);
    }
    .leaf-pic1 {
     
      transform: rotate(210deg);
    }
  }

  .img-wrapper {
    margin-top: 5%;
    // transform:translateX(-25%);
    display: flex;
    justify-content: flex-end;
    .hunmil {
      text-align: left;
      margin: 4% auto;
      width: 60%;
      /* display: block; */
    }
  }
}

// .para-wrap:hover #olive g{
    
//   animation: fills 4s 0s forwards;

// }

.about::-webkit-scrollbar {
  display: none;
}

// .leaf-pic:hover .leaf-pic{
//   background:red;
//   animation: fills 4s 2s forwards;

// }


