.about {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 5%;
  justify-content: space-between;
  height: 100%;
}
.about-header {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
.para-wrap {
  display: flex;
  margin-top: -1%;
  transform: translateX(-4%);
  width: 90%;
}
.about-para {
  transform: translateX(16%);
  width: 70%;
  /* color: rgb(26, 7, 7); */
  color: rgb(21, 94, 3);
  font-size: calc(0.6em + 1vw);
  /* text-align: justify; */
  letter-spacing: 2px;
  line-height: 1.8em;
  font-family: Open Sans, sans-serif;

  font-weight: lighter;

  text-align: left;
  padding: 2% 3% 10% 0;

  box-sizing: border-box;
}
.vines {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.leaf-pic,
.leaf-pic1,
.leaf-pic2 {
  width: 30%;

  transform: rotate(-20deg) scaleY(-1) translateX(25%);
}
.leaf-pic1 {
  /* transform:translateX(10%); */
  /* transform: translateX(30%) scale(-1, -1); */
}

.para-wrap:hover > .leaf-pic #olive {
  background: red;
}
