body {
  padding: 0;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  font-family: verdana;
  max-width: 1200px;
}

.container {
  /* width: 100vw; */
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 0 0 0 1%;
  margin: 1% 3% 0 3%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    rgba(30, 190, 190, 0.5),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.95)
  );
  background-image: linear-gradient(
    rgba(180, 180, 180, 0.233),
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.95)
  );
  border-radius: 50%;
}

.header-img {
  margin: 0 auto;
  top: 0;
  left: 0;
  /* display:none; */
  width: 50%;
  z-index: 1;
}

.header-img img {
  width: 100%;
  /* height: auto; */
  margin: 1% 2% 2% 0;
  border-radius: 5%;
  /* border: .02em solid rgb(180, 180, 180); */
  /* box-shadow: 5px 5px 5px rgba(200, 200, 200, 1), 8px 8px 6px rgba(230, 230, 230, 1), 5px 5px 4px rgba(230, 230, 230, 1); */
  box-shadow: 1px 1px 5px grey;
  filter: grayscale(30%);
}

.header a {
  margin: 1.2% 2% 0 0;
  display:none;
}

.title {
  font-size: calc(0.8em + 1vw);
  margin: 0 0 1% 0;
  color: rgb(0, 0, 0);
  text-align: center;
  transform: translate(-3%);
  font-family: "Roboto";
  /* font-family: 'Fahkwang'; */
  /* font-family:'Pavanam'; */
  /* font-family: 'Mandali'; */
  font-weight: 400;
  padding-top: 0.75%;
  padding-right: 3%;
}

.title a {
  color: rgb(255, 255, 255);
}

.fas.fa-caret-down {
  padding-left: 3%;
}

.fab.fa-linkedin,
.fab.fa-github {
  /* font-size: 50%; */
  /* transform:translateY(40%); */
  font-size: 1em;
}

.far.fa-envelope {
  font-size: 100%;
}
a {
  color: black;
}

a {
  text-decoration: none;
}

.fa,
.fa-chevron-right {
  font-size: 1em;
}

/* Main Content //////////////////////*/

.container {
  width: 95%;
  height: 90%;
  display: flex;
  font-size: calc(0.5em + 1vw);
  color: #262626;
  position: fixed;
  max-width: 1200px;

  /* border:2px solid green; */
}
.container:before {
  /* display:inline; */
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 1200px;
  height: 0;
  background: transparent;
  border: 3px solid transparent;
  border-radius: 0 30px 0 0;

  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;

    border-top-color: #e01414;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #e01414;
    border-right-color: #e01414;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #e01414;
    border-right-color: #e01414;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.filler {
  width: 100%;
  background: transparent;

  box-shadow: 0 0 80px rgba(255, 255, 255, 0.8);
}
.burger-div{
  display:flex;
  align-items:center;

}
.burgerMenu-mainDiv{
  /* height:200px; */
  width:90%;
  background:lightgrey;
  /* margin:0 0 0 5%; */
  padding:0 5%;
  position:absolute;
  z-index: 10;
  display:none;
  color:red;
  font-size:2em;
  font-family:'Overpass';
  border-radius:0 30px 0 0;
}
.container .main-content {
  /* min-width:100%; */
  overflow-y: scroll !important;
  /* -webkit-overflow-scrolling: touch;  */
  /* position: relative; */
  height: 100%;
  margin: 0 0;
  /* width:100%; */
  width: 95%;
  position: relative;
}
.container .main-content::-webkit-scrollbar {
  display: none;
}
.container .main-content {
  scrollbar-width: none;
}

/* **********SIDEBAR **************/
.sidebar {
  width: 20%;
  /* display:inline; */
  /* background:brown;
  background:brown; */
  border-right: 2px solid #d41010;
  padding: 1%;
  /* display:inline; */
  /* width:30%; */
  padding-top: 3%;
  position: relative;
  /* margin-top:3%; */
  min-width: 20%;
  max-width: 20%;
  overflow-y: scroll !important;
  background:rgb(230, 233, 236);
  display:none;

}

.container .sidebar::-webkit-scrollbar {
  display: none;
}
.container .sidebar {
  scrollbar-width: none;
}
.main-content .option {
  margin: 2%;
  display: flex;
  justify-content: space-between;
}
.main-content .option:hover {
  transform: scale(1.1, 1.1);
}
.main-content .nav {
  position: relative;
  /* z-index:5; */
  display: flex;
  min-width: 100%;
  justify-content: flex-end;
  font-family: overpass;
  font-size: 1.2em;
  padding: 0;
}
.option .text {
  transform: translate(10%);
}
.option .more-text {
  transform: translate(1em);
  font-style: italic;
}

.sidebar .email {
  text-align: center;
  font-family: "Overpass";
}
.sidebar .email a {
  font-size: 3em;
  display: none;
}

.header-img:hover {
  animation: spinner .5s linear forwards;

}

@keyframes spinner {
  from{transform:rotateY(0deg)}
  to{transform:rotateY(360deg)}
}
/*//ABOUT//////////////////////*/
/*  */
.about {
  width: 100%;
  margin-top: 5%;
}
.about-header {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
  /* /* background:green; */
}

.about p {
  color: rgb(26, 7, 7);
  font-size: calc(0.2em + 1vw);
  text-align: justify;
  letter-spacing: 2px;
  line-height: 1.5em;
  font-family: Open Sans, sans-serif;
  /* text-indent: 8%; */
  font-weight: lighter;
  text-align: center;
  font-size:1.5em;

  padding: 2% 10%;
  /* margin:5% 0; */
  box-sizing: border-box;
}

.btn-wrapper {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-wrapper a {
  text-align: center;
}
.about-btn {
  margin: 10% auto;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 214, 131),
    rgb(252, 252, 216)
  );
  border-radius: 20px;
  box-shadow: 1px 1px 3px black;
  padding: 2% 0 1%;
  font-family: "overpass";
  color: red;
  width: 80%;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.75em;
}

.para-img {
  height: 4em;
  float: right;
  padding: 3%;
  display: none;
}

/*//PROJECTS///////////////////// */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 1% 3%;
  border-radius: 5px;
  padding-top: 1%;
  /* margin-left:200px; */

  /* background-image: linear-gradient(rgba(255, 255, 255, 1), rgb(252, 245, 236),rgba(252, 215, 174, 0.932)); */
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.233), rgba(255, 255, 255, .95),rgba(241, 240, 240, 0.95)); */
  /* font-family:arial; */
  font-size: 10px;
}

/* rgba(255, 174, 81, 0.932) */
.proj-wrapper {
  position: relative;
  /* height: 100%; */
  margin: 1% 1%;
  display: flex;

  width: 97%;

  /* justify-content: space-between; */
}

.project {
  position: relative;
  /* height: 100%; */
  /* margin:0 auto; */
  /* display:flex; */
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.project a {
  max-width: 90%;
  height: auto;
}

.project img {
  max-width: 100%;
  height: auto;
  /* margin: 5%; */
  position: relative;
}

.project .img-wrapper {
  /* height:100%; */
  position: relative;
  margin: 5%;
  box-shadow: 1px 1px 5px rgb(105, 6, 6);
}

.project:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0 12px 0;
}

.projectCard:hover:before {
  animation: animate-project 0.5s linear forwards;
}

@keyframes animate-project {
  0% {
    width: 0;
    height: 0;
    border-top-color: #262626;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #e01414;
    border-right-color: #d41010;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #262626;
    border-right-color: #262626;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
/* /////////////////RESUME */
.resume {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.res-img-wrapper {
  margin: 5% 10% 0 5%;
  height: 100%;
  text-align: center;
}

object {
  font-family: "overpass";
}

.res-img-wrapper div {
  margin-top: 0.5em;
  font-size: 4em;
  color: rgb(142, 197, 106);
}

/* TECHS //////////////////*/
.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10% 2%;
  /* height:100%; */
}
.tech-img {
  width: 20%;
  height: 5%;
  margin: 8% 6%;

  /* background:rgb(241, 238, 49); */
  /* background:rgb(179, 176, 55); */
}
.tech-img:hover {
  transform: translateY(15%);
  transform: scale(1.3, 1.3);
}

/* //MODAL//// */

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  opacity: 0;
  z-index: 2;
  overflow: hidden;
  /* background-image:linear-gradient(
    to right, 
    rgba(0, 0, 0, 0.99),
    rgba(255, 255, 255, 1) 
  ); */
  animation: close-curtain 1s linear forwards;
}

@keyframes close-curtain {
  0% {
    left: -5%;
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.99;
  }
}

.project:hover .modal{
  animation: open-curtain 1s linear forwards;
}
@keyframes open-curtain {
  0% {
    left: 5%;
    opacity: 0.99;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    left: -10%;
    opacity: 0;
    /* width: 110%; */
  }
}

.modal-span {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  /* align-items: flex-end; */
  width: 45%;
  height: 100%;
  padding:5%;
  z-index:3;
  background-image: linear-gradient(
    to right,
    rgba(209, 21, 21, 1), 
    rgba(223, 11, 11, 1)
  );
  transform: skew(-10deg, 0deg) translateX(-12%);
}

.modal-span h2.project-title {
  padding: 3% 0;
  margin:3%;
  font-family:'Raleway';
  /* font-weight:lighter; */
  color:white;
  /* width: 50%; */
  transform:skew(10deg, 0);
}

.link-modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content:space-around;
  align-items:center;
  /* overflow: hidden; */
  z-index: 5;
  opacity: 0;
  font-family:'Raleway';
   /* background-image:linear-gradient(to right, rgba(0, 0, 0, 0.99),rgba(255, 255, 255, 1) );  */
  background-image: linear-gradient(
    to right,
    rgba(209, 21, 21, 1), 
    rgba(223, 11, 11, 1)
  );
  border:1px solid green;
}

.project:hover .link-modal {
  animation: linkModal 1s linear .5s forwards;
  
} 
@keyframes linkModal {
  0% {
    bottom: 20%;
    opacity: 0.1;
  }
  50% {
    bottom: 5%;
    opacity: 0.5;
  }
  100% {
    bottom: 0;
    opacity: 1;
    /* pointer-events:auto; */
  }
}

.link-modal p{
  font-size:1.5em;
  font-style:italic;
  font-weight:600;
  color:white;
  cursor: pointer;
}
.link-modal p:hover{
  font-size:1.7em;
}
.link-modal .site-button{
  background:orange;
  padding:2%;
  transform:skew(-10deg, 0);
  border-radius:2px;
  cursor:pointer;
}
.site-button:hover{
  transform:scale(1.1,1.1) skew(-10deg, 0);
 

}

.traits-div{
  display:flex;
  align-items:flex-start;
  flex-wrap:wrap;
  flex-direction:column;
  font-family:'Raleway';
  transform:skew(-10deg, 0)translate(55%);
  padding:3% 0;
}

.trait{
  color:red;
  font-size:1.3em;
  margin:3%;
  
}

.techs-div{
  display:flex;
  flex-wrap:wrap;
  /* justify-content:center; */
  margin:2%;
  transform:skew(10deg) scale(.75, .75) translateY(-25%);
  height:20%; 
    /* transform:translate(50deg); */
  
}


.tech{
  width:10%;
}









.dummy {
  height: 800px;
}

/* MEDIA QUERIES/////////////////// */


@media only screen and (min-width: 300px) {
  .sidebar{
    display:none;
  }
}


@media only screen and (min-width: 600px) {
  .header a{
    display:inline;
  }
  .header-img {
    width: 50%;
  }
  .title {
    font-size: calc(0.7em + 1vw);
  }
  .fab.fa-linkedin,
  .fab.fa-github {
    font-size: 1em;
  }
  .fas.fa-caret-down {
    display: none;
  }
  .burger-div{
    display:none;
  }
  .sidebar{
    display:inline;
  }

  .sidebar .email a {
    font-size: 0.75em;
    display: inline;
  }
  .proj-wrapper {
    width: 47%;
  }
  .project {
    margin-left: 5%;
    margin-bottom: 10%;
  }
  .project-title{
    font-size:1em;
  }
  .trait{
    font-size:1em;
  }
  .techs {
    font-size: calc(0.75em + 1vw);
  }
  .site-button, .more-anchor{
    transform:scale(.75, .75);
  }
}

@media only screen and (min-width: 900px) {
  .header-img {
    width: 50%;
  }
  .title {
    font-size: 1.6em;
  }
  .fab.fa-linkedin,
  .fab.fa-github {
    /* font-size: 50%; */
    /* transform:translateY(60%); */
    font-size: 1.3em;
  }
  .projects {
    /* padding-top:1.5%; */
  }
  .sidebar{
    display:inline;
  }
  .modal .project-title {
    font-size: 1.5em;
  }

  .modal p {
    /* display:block; */
    font-size: 1em;
  }
  .techs {
    font-size: calc(0.75em + 1vw);
  }
  .site-button, .more-anchor{
    transform:scale(1.2, 1.2);
  }
}
@media only screen and (min-width: 1200px) {
  .header-img {
    width: 50%;
  }

  .fab.fa-linkedin,
  .fab.fa-github {
    font-size: 1.2em;
  }
  .sidebar{
    display:inline;
  }
  .about {
    font-size: 10px;
  }

  .project {
    margin-bottom: 5%;
  }
  h2.project-title{
    font-size:1.9em !important;
  }
  .trait{
    font-size:1.5em;
  }
  .techs {
    font-size: 24px;
  }
  .site-button, .more-anchor{
    transform:scale(1.5, 1.5);
  }
}

@media only screen and (min-width: 1600px) {
  .header-img {
    width: 60%;
  }

  .projects {
    margin-top: 1%;
  }
}
