.nav {
  display: flex;
  position: absolute;
  top: 30%;
  left: 2%;
  flex-direction: column;
  font-family: overpass;

  .title,
  .position {
    color: white;
  }

  .option {
    display: flex;
    margin-bottom: 30%;
    cursor: pointer;
    width: 100%;
    color: white;
    font-size: 0.6em;

    .text {
      margin-right: 10%;
      font-size: .8em;
    }

    .icon-wrapper {
      min-width: 30%;
      max-width: 30%;

      .far,
      .fas {
        margin-left: 5%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .nav .option {
    color: blue;
  }

  .nav .option .text {
    display: none;
  }

 
}