


#olive1 defs linearGradient stop:nth-child(1){
    
    stop-color:yellow;
    stop-opacity:1
    
}

#olive1 defs linearGradient stop:nth-child(2){
   
    stop-color:red;
    stop-opacity:.7;
    
}



#olive1 g {
  fill-opacity: 0;
  animation: fills 4s 3s forwards;
  stroke: blue;
  stroke-width: 2;
  /* fill: green; */
}
#olive1 g:hover{
    background:red;
  animation: fills 4s 0s forwards;

}
#olive1 g path {
  stroke-dashoffset: 5000;
  stroke-dasharray: 5000;
  animation: borders 2s 1s forwards;
}
@keyframes borders {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fills {
  to {
    fill-opacity: 0.99;
  }
}
