.sidebar {
  width: 40%;
  scrollbar-width: none;
  height: 100vh;
  /* padding-right: 5%; */
}

.container .sidebar::-webkit-scrollbar {
  display: none;
}

.title,
.position {
  left: 5%;
}
.title {
  position: absolute;
  top: 12%;

  color: white;
  font-family: "Satisfy";
  font-size: 1.5em;
}
.position {
  position: absolute;
  top: 19%;

  color: white;

  font-size: 0.8em;
  font-family: "Roboto";
}
