object {
    width: 100%;
  }
  
  #wave-svg g {
    stroke: green;
    fill: #0099ff;
    /* fill: orange; */
  
    stroke-width: 1;
    fill-opacity: 0; 
    animation: fills 1s 1s forwards;
  }
  
  #wave-svg g path {
    stroke-dashoffset: 2800;
    stroke-dasharray: 2800;
    animation: borders 9s 2s infinite;
  }

  @keyframes borders {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes fills {
    to {
      fill-opacity: 0.99;
    }
  }